.root {
    display: flex;
    gap: 16px;
    padding: 24px 50px 24px 130px;
    height: 24px;
    padding-left: 130px;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
    .logo-container {
        .logo {
            width: 150px;
        }
    }

    .input-container {
        .input {
            border-radius: 5px;
            border: none;
            height: 16px;
            width: 800px;
            background-color: #9ead84;
            padding: 16px;
            color: white;
            font-size: 16px;
            &::placeholder {
                color: white;
            }

            &:focus {
                outline: none;
            }
        }
    }

    .right-container {
        display: flex;
        align-items: center;
        gap: 16px;

        .link {
            cursor: pointer;
            color: #9ead84;
            text-decoration: none;
            font-weight: bold;
        }

        .wallet-icon {
            cursor: pointer;

            width: 32px;
            height: 32px;
            outline: #9ead84;
            stroke: #9ead84;
        }

        .user {
            cursor: pointer;

            width: 32px;
            height: 32px;
        }
    }
}
